/* CHAT PAGE */

/* Header */

.chat-page header {
	position: fixed;
	top: 0;
	width: 100%;
	padding: .5em;
	background-color: var(--circe-purple);
	height: 3em;
	z-index: 10;
}

/* Body, chat messages */

.messages {
	position: fixed;
	bottom: 3em;
	width: 100%;
	max-height: calc(100vh - 6em);
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow-y: scroll;
}

.messages li {
	padding: 5px 10px;
}

.messages li:nth-child(odd) {
	background: #eee;
}

/* Footer, new message */

.chat-page .chat-msg { 
	background: #EEE;
	padding: 3px;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 3em;
}

.chat-page .chat-msg input {
	border: 0;
	padding: 10px;
	width: calc(100% - 6em);
	margin-right: .5%; 
}

.chat-page .button.button-chat {
	width: 4em;
	border: none;
	padding: 12px 10px 8px;
	background-color: var(--circe-purple);
	color: #FFF;
	cursor: pointer;
}

/* Scroll down button */
.scroll-down {
	position: absolute;
	bottom: 4em;
	right: 1em;
	border-radius: 50%;
	border-style: none;
	height: 3em;
	width: 3em;
	background-color: var(--circe-purple);
	padding: .3em 0 0;
	display: none;
	align-items: center;
	justify-content: center;
	box-shadow: 1px 2px 6px #888;
	z-index: 10;
}
.scroll-down:hover {
	box-shadow: 1px 2px 2px #888;
}
.scroll-down.visible {
	display: flex;
}
.arrow-down {
	height: auto;
	width: 70%;
}
