/* CHAT PAGE */

/* Header */

.chat-page header {
	position: fixed;
	top: 0;
	width: 100%;
	padding: .5em;
	background-color: var(--circe-purple);
	height: 3em;
}

/* Body, chat messages */

.messages {
	position: fixed;
	bottom: 3em;
	width: 100%;
	max-height: calc(100vh - 6em);
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow-y: scroll;
}

.messages li {
	padding: 5px 10px;
}

.messages li:nth-child(odd) {
	background: #eee;
}

/* Footer, new message */

.chat-page .chat-msg { 
	background: #EEE;
	padding: 3px;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 3em;
}

.chat-page .chat-msg input {
	border: 0;
	padding: 10px;
	width: calc(100% - 6em);
	margin-right: .5%; 
}

.chat-page .button.button-chat {
	width: 4em;
	border: none;
	padding: 10px; 
	background-color: var(--circe-purple);
	color: #FFF;
}
