/* WELCOME PAGE */

body.welcome {
	background-color: var(--circe-purple);
	color: #fff;
	padding: 1em;
	margin: auto;
}
.welcome .header {
	text-align: center;
	margin: 1.5em;
	color: var(--circe-yellow);
}
.welcome .logo {
	max-width: 5em;
}
.welcome .username-form {
	text-align: center;
	margin: 1.5em;
	display: flex;
	flex-direction: column;
}
.welcome .username-input {
	margin: .5em auto 1.5em;
	background-color: var(--circe-purple);
	color: #fff;
	border-style: solid;
	border-color: var(--circe-yellow);
	text-align: center;
}

.welcome select {
	margin: .5em auto 1.5em;
	text-align: center;
}

.welcome button {
	margin: auto;
	line-height: 1;
	font-weight: bold;
}

.welcome p.userFeedback {
	margin: auto;
	text-align: center;
}