:root {
	--circe-yellow: #cfdf00;
	--circe-purple: #b4408f;
}

* {
	margin: 0; 
	padding: 0;
	box-sizing: border-box; 
}

body {
	font: 1em Helvetica, Arial; 
}

/* WELCOME PAGE */

body.welcome {
	background-color: var(--circe-purple);
	color: #fff;
	padding: 1em;
	margin: auto;
}
.welcome .header {
	text-align: center;
	margin: 1.5em;
	color: var(--circe-yellow);
}
.welcome .logo {
	max-width: 5em;
}
.welcome .username-form {
	text-align: center;
	margin: 1.5em;
}
.welcome .username-input {
	display: block;
	margin: 1.5em auto;
	background-color: var(--circe-purple);
	color: #fff;
	border-style: solid;
	border-color: var(--circe-yellow);
	text-align: center;
}
.welcome .button {
	padding: .2em 1em;
	background-color: var(--circe-yellow);
	border-style: solid;
	border-color: var(--circe-yellow);
}

/* CHAT PAGE */

.chat-page form { 
	background: #000;
	padding: 3px;
	position: fixed;
	bottom: 0;
	width: 100%; 
}

.chat-page form input {
	border: 0;
	padding: 10px;
	width: 90%; 
	margin-right: .5%; 
}

.chat-page  form button {
	width: 9%;
	background: rgb(130, 224, 255);
	border: none;
	padding: 10px; 
}

#messages {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#messages li {
	padding: 5px 10px;
}

#messages li:nth-child(odd) {
	background: #eee;
}